<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="container m-auto shadow justify-content-center col-12 col-md-6 col-lg-4"
    >
      <div class="row align-items-center justify-content-center">
        <div class="" style="height: 300px; overflow-y: scroll">
          <app-header></app-header>
          <app-tasks></app-tasks>
        </div>
        <div class="">
          <img
            src="https://cdn.dribbble.com/users/4241563/screenshots/11874468/media/7796309c77cf752615a3f9062e6a3b3d.gif"
            alt=""
            width="100%"
          />
        </div>
      </div>
    </div>
  </body>
</html>
